@import url("https://fonts.googleapis.com/css2?family=Doto");
@import url("https://fonts.googleapis.com/css2?family=Nunito");
@import "tailwindcss";

@theme {
  --font-doto: "Doto", sans-serif;
  --font-nunito: "Nunito", sans-serif;
}

.top-div {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 60px));
}
.bottom-div {
  clip-path: polygon(0 0, 100% 60px, 100% 100%, 0 100%);
  margin-top: -30px;
}

.top-invert {
  clip-path: polygon(0 0, 100% 60px, 100% calc(100% - 60px), 0 100%);
}
.bottom-invert {
  clip-path: polygon(0 60px, 100% 0, 100% 100%, 0 100%);
  margin-top: -30px;
}
